<div>
    <header>
        <h2>Bandas</h2>
    </header>

    <form class="form-inline">
        <div class="form-group">
            <label for="filtroBanda">Banda: </label>
            <input type="text" id="filtroBanda" ng-model="filtroPorBanda" />
        </div>
    </form>
    <!-- Pintamos una tabla para mostrar las bandas -->
    <table class="table">
        <!-- Con la directiva ngRepeat iteramos sobre la colección
        de bandas para pintar cada línea (banda) de la tabla -->
        <tr ng-repeat="banda in bandas | filter:{name: filtroPorBanda}" elemento-banda banda="banda">

        </tr>

    <uib-pagination
        ng-change="paginador.cambioDePagina()"
        ng-model="paginador.paginaActual"
        total-items="paginador.totalElementos"
        items-per-page="paginador.elementosPorPagina"
        boundary-links="true"
        first-text="&lt;&lt;"
        last-text="&gt;&gt;"
        previous-text="&lt;"
        next-text="&gt;"
        ></uib-pagination>    </table>
</div>