<h2>Filter</h2>
<div id="filters" class="button-group">  <button class="button is-checked" data-filter="*">show all</button>
    <button class="button" data-filter=".metal">metal</button>
    <button class="button" data-filter=".transition">transition</button>
    <button class="button" data-filter=".alkali, .alkaline-earth">alkali and alkaline-earth</button>
    <button class="button" data-filter=":not(.transition)">not transition</button>
    <button class="button" data-filter=".metal:not(.transition)">metal but not transition</button>
    <button class="button" data-filter="numberGreaterThan50">number > 50</button>
    <button class="button" data-filter="ium">name ends with &ndash;ium</button>
</div>

<h2>Sort</h2>
<div id="sorts" class="button-group">
    <button class="button is-checked" data-sort-by="original-order">original order</button>
    <button class="button" data-sort-by="title">title</button>
    <button class="button" data-sort-by="year">year</button>
</div>
<p></p>
<div class="grid isotope">
    <div ng-repeat="album in albumes" elemento-album album="album">

    </div>
</div>

